# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Conda
.conda/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
climada_toolkit.code-workspace

# Logs
*.log

# Data
data/
